<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hawaii Farm Trails</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../public/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../public/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<style>
    p#error_message {
        padding-bottom: 5px;
        padding-top: 5px;
        text-align: center;
        color: #fff;
    }

    .loading {
        height: 0;
        width: 0;
        padding: 15px;
        border: 6px solid #ffcd02;
        border-right-color: #d04943;
        border-radius: 22px;
        -webkit-animation: rotate 1s infinite linear;
        /* left, top and position just for the demo! */
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 15;
        display: none;
    }

    @-webkit-keyframes rotate {

        /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
</style>

<body class="hold-transition login-page">
    <div class="loading"></div>
    <div class="login-box">
        <div class="login-logo">
            <img src="/hft_logo.svg" width="130px" height="auto" />
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-warning">Welcome Back !</h5>
                    <p class="text-muted">Sign in to continue to Hawaii farm trails.</p>
                </div>

                <form method="post" id="loginAdmin">
                    <div class="input-group mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <p id="error_message"></p>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>


                <!-- /.social-auth-links -->
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="../public/plugins/jquery-bar-rating/"></script>
    <script src="../public/plugins/jquery/jquery.min.js"></script>
        <script src="../public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../public/plugins/metismenu/metisMenu.min.js"></script>
        <script src="../public/plugins/simplebar/simplebar.min.js"></script>
        <script src="../public/plugins/node-waves/waves.min.js"></script>
        <script src="../public/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="../public/plugins/jquery.counterup/jquery.counterup.min.js"></script>

        <script src="../../js/app.js"></script>
    <script src="../public/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
    <script>
        $("#loginAdmin").submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            $('.loading').css('display', 'block');
            $.ajax({
                type: "POST",
                url: '/FarmStand/Admin',
                processData: false,
                contentType: false,
                data: new FormData(this),
                // serializes the form's elements.
                success: function (data) {
                    console.log("fff");
                    $('.loading').css('display', 'none');
                    if (data && data.message) {
                        $('#error_message').addClass('alert alert-warning');
                        $('#error_message').removeClass('alert alert-success');
                        $('#error_message').text(data.message);
                    }
                    else if (data && data.success == true) {
                        $('#error_message').removeClass('alert alert-warning');
                        $('#error_message').addClass('alert alert-success');
                        $('#error_message').text('Login Successful!');
                        window.location = "/admin/dashboard";
                    }
                    else {
                        $('#error_message').addClass('alert alert-warning');
                        $('#error_message').removeClass('alert alert-success');
                        $('#error_message').text(data);
                    }
                }
            });


        });
    </script>
    <script>
       /*  var socket = io('http://localhost:8000');
    socket.on('connection', function(socket){  
            console.log('a user connected');  
            socket.on('disconnect', function(){
               console.log('user disconnected'); 
            });
      });
      socket.emit('loadAllConversation','test');
      socket.on('sendAllConversation',(data)=>{
          console.log(data);
      }) */
    </script>
</body> 

</html>