<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Farms & Ranches</title>
    <link rel="stylesheet" href="../public/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">  </head>
  <body>

<div class="container">
  <div class="registration_form">
    <br>
    <div class="container">
     <div class="card">
       <div class="card-header bg-primary" id="card_header">
             <h4 style="color:white">Farms & Ranches</h4>
       </div>
       <div class="card-body">
         <form class="card-text">
     <div class="row">
       <div class="col">
         <input type="text" class="form-control" placeholder="Product Name" name="productname" required>
       </div>
       <div class="col">
         <input type="number" class="form-control" placeholder="Product Price" name="Price" required>
       </div>
       </div>
       <br>
       <div class="row">
         <div class="col">
           <input type="text" class="form-control" placeholder="Product Details" name="details" required>
         </div>
         <div class="col">
           <input type="file" class="form-control" placeholder="Product Image" name="image" accept=".jpg, .jpeg, .png" required>
         </div>

       </div>
       <br>
       <div class="row">
         <div class="col">
           <input type="time" class="form-control" placeholder="Opening Time" name="openingtime" required>
         </div>
         <div class="col">
           <input type="time" class="form-control" placeholder="Closing Time" name="closingtime" required>
         </div>

       </div>
       <br>
   <div class="row">
       <div class="col-6">
         <select class="custom-select form-control " id="gender2">
           <option selected>Types</option>
           <option value="1">Education</option>
           <option value="2">Farm to tables</option>
           <option value="3">Tour</option>
           <option value="4">Farmstand</option>
         </select>
         </div>
         <div class="col-6">
           <select class="custom-select form-control " id="gender2">
             <option selected>Features</option>
             <option value="1">Alcohal</option>
             <option value="2">Animals</option>

           </select>
           </div>

       <br>
       <br>
       <br>
       <div class="col-12" id="aa">
         <div class="row">

               <div class="col-12">
                 <input class="submit_button bg-primary" type="submit" name="" value="Upload">

               </div>
               <br><br>

         </div>
       </div>

   </form>
       </div>
     </div>
     <div class="card-footer">.</div>

    </div>
  <!-- </div> -->
</div>
</div>
<br><br>
<div class="container">
  <div class="card">
    <div class="card-header bg-primary">
       <h3 style="color:white">Farms & Ranches </h3>
    </div>
    <div class="card-body">
      <table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product <br> Details</th>
            <th>Opening Time</th>
            <th>Closing Time</th>
            <th>Types</th>
            <th>Features</th>

            <th>Delete</th>
          </tr>
          <tr>
            <td>chawal</td>
            <td>123</td>
            <td>Dir kha chawal de ror mi</td>
            <td>12:00am</td>
            <td>6:00pm</td>
            <td>Education</td>
            <td>Animals</td>

            <td>
              <input type="button" name="" value="Delete" id="delete">
            </td>
          </tr>
        </thead>

      </table>

      </div>
      <div class="card-footer">
        .
      </div>

    </div>
  </div>
</div>
<br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>  </body>
</html>
